<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin Internet untuk Glide (jika load gambar dari URL) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication"
        android:enableOnBackInvokedCallback="true">

        <!-- UserSplashActivity sebagai pintu masuk utama -->
        <activity
            android:name=".user.UserSplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.AuthLoginActivity"
            android:exported="false" />

        <activity
            android:name=".auth.AuthRegisterActivity"
            android:exported="false" />

        <!-- MainActivity adalah container utama untuk Fragment Home, Modul, dll -->
        <activity
            android:name=".user.UserMainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".user.UserEditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".user.UserChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".user.UserPrivacyActivity"
            android:exported="false" />

        <activity
            android:name=".user.UserChooseMajorActivity"
            android:exported="false" />

        <!-- Admin Section -->
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminUserListActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminAddSubjectActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminAddTopicActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminEditTopicActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminEditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminNotificationActivity"
            android:exported="false" />

        <!-- Fragment tidak perlu didaftarkan di AndroidManifest.xml,
             hanya Activity saja yang didaftarkan -->

    </application>

</manifest>